[Desktop Entry]
Type=Application
Name=Speed Dreams
Icon=speed-dreams
Exec=usr/bin/speed-dreams-2
Terminal=false
Categories=Game;SportsGame;
Comment=Motorsport Simulator featuring high-quality 3D graphics and an accurate physics engine
GenericName=Racing Game
Keywords=race;racing;drive;driving;racer;driver;track;motorsport;game;
Comment[es]=Simulador de deportes de motor con gráficos 3D de alta calidad y un motor de física preciso
GenericName[es]=Juego de carreras
Keywords[es]=carrera;racing;conducción;deporte de motor;juego;coche;simulación;
Comment[ca]=Simulador de deports de motor amb gràfics 3D d'alta calitat i un motor de física precís
GenericName[ca]=Joc de carreres
Keywords[ca]=carrera;racing;conducció;deport de motor;joc;cotxe;simulació;
Comment[ca_ES@valencia]=Simulador de deports de motor amb gràfics 3D d'alta calitat i un motor de física precís
GenericName[ca_ES@valencia]=Joc de carreres
Keywords[ca_ES@valencia]=carrera;racing;conducció;deport de motor;joc;cotxe;simulació;
Comment[gl]=Simulador de deportes de motor con gráficos 3D de alta calidade e un motor de física preciso
GenericName[gl]=Xogo de carreiras
Keywords[gl]=carreira;racing;conducción;deporte de motor;xogo;coche;simulación;
Comment[eu]=Kalitate altuko 3D grafikak eta fisika zehatzeko eragileak dituen motorrezko kirolen simulatzailea
GenericName[eu]=Lasterketen jokoa
Keywords[eu]=Lasterketa;kondukzioa;motor-kirola;jokoa;kotxe/auto;simulazioa
Comment[pt]=Simulador de esportes a motor com gráficos 3D de alta qualidade e um motor de física preciso
GenericName[pt]=jogo de corrida
Keywords[pt]=corrida, racing, condução, esporte a motor, jogos, carros, simulação
Comment[nl]=Motorsportsimulator met 3D-graphics van hoge kwaliteit en een nauwkeurige physics-engine
GenericName[nl]=Race spelletje
Keywords[nl]=racen, racing, autorijden, motorsport, spelletjes, auto's, simulatie;
Comment[it]=Simulatore di guida con grafica 3d di alta qualità e un accurato motore fisico
GenericName[it]=Gioco di corse
Keywords[it]=corse;racing;guida;guidare;motorsport,gioco,macchine;simulatore
Comment[zh_CN]=具有高清3D画质和精准物理引擎的赛车模拟器
GenericName[zh_CN]=赛车游戏
Keywords[zh_CN]=赛车;驾驶;赛车运动;游戏;汽车;模拟;模拟器;竞速;
